{
  "ConnectionStrings": {
    "Default": "Server=localhost;uid=sa;pwd=12345;database=SportSGDb;TrustServerCertificate=True;",
    "Redis": ""
  },
  "Jwt": {
    "Key": "change-this-to-a-long-random-secret",
    "Issuer": "SportSG",
    "Audience": "SportSG-Clients"
  }
}